
@font-face {
  font-family: 'Nokia Pure Headline';    
  src: url('../fonts/nokiapureheadlinerg-webfont.eot');
  src: url('../fonts/nokiapureheadlinerg-webfont.eot?iefix') format('eot'),
  url('../fonts/nokiapureheadlinerg-webfont.woff') format('woff'),
  url('../fonts/nokiapureheadlinerg-webfont.ttf') format('truetype'),
  url('../fonts/nokiapureheadlinerg-webfont.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokia Pure Text';
  src: url('../fonts/nokiapuretext-webfont.eot');
  src: url('../fonts/nokiapuretext-webfont.eot?iefix') format('eot'),
  url('../fonts/nokiapuretext-webfont.woff') format('woff'),
  url('../fonts/nokiapuretext-webfont.ttf') format('truetype'),
  url('../fonts/nokiapuretext-webfont.svg#webfont4UxFerZx') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* reset min stuff */
/* CSS Reset Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* END reset min stuff */

html,
body{

}

body{
  background-image: url('../img/background.jpg');
  font-family: "Nokia Pure Text";
}

body section.content{
  margin: 0 auto;
  width: 80%;

}

header, h1, h2, h3, h4, h5, h6{
  font-family: "Nokia Pure Headline";
  color: #e13c74;
  font-style: italic;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}

section{
  margin: 2em;
}

header{
  margin: 0em 0em 1em 0em;
}
footer{
  margin: 1em 0em 0em 0em;
}

header, footer{
  background-color: #AAAAAA;
  color: #FFEEEE;
}

nav{
  font-family: "Nokia Pure Headline";
  margin: 1em 0;
}

nav a{
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  font-size: 1em;
  color: #444444;
}

#chromosomeGraph{
  margin: 2em auto;
}


a{
  color: #333333;
  text-decoration:none;
}


section.content header{
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
overflow: hidden;
}

section.content header h1{
  size: 200%;
}

section.content footer{
  width: 100%;
  -webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
overflow: hidden;
position: relative;
}

section.content footer ul {
	width: 100%;
}

section.content footer ul li{
  display: block;
  float: left;
  width: 33%;
padding: 10px 0 10px;
  text-align: center;
}

aside.beta{
  position: fixed;
  right: 0;
  top: 50%;
  width:3em;
  background-color: #444444;
  padding: 1em;
}

p { line-height: 1.25em; }

div.selector{
  height: 100%;
  background-color: #333333;
  position: absolute;
  opacity: 0.5;
  border: 1px dashed #999;
  left: 0;
  top: 0;
}

#chromosomeGraph article,
#chart{
  margin: 20px 0px 40px 0px;
  padding: 0.5em;
  -webkit-border-radius:  0.5em;
  -moz-border-radius:  0.5em;
  border-radius:  0.5em;
  background-color: #AAAAAA;
}

#chart{
  position: relative;
  overflow: scroll;
}

img.logo{
  padding: 1em;
  max-height: 6em;
  display: inline;
}

header h1,
footer h1{
  float:left;
}

#submitAnnotations{
  display: block;
  padding: 1em;
  -webkit-border-radius:  0.5em;
  -moz-border-radius:  0.5em;
  border-radius:  0.5em;
  background-color: #333333;
  color: #DDD;
  width: 4em;
}

#dashboard{
 background-color: #DDDDDD;
  padding: 1em;
  -webkit-border-radius:  0.5em;
  -moz-border-radius:  0.5em;
  border-radius:  0.5em;
  height: 400px;
}

#dashboard header{
  -webkit-border-radius:  0.5em;
  -moz-border-radius:  0.5em;
  border-radius:  0.5em;
  
}

#dashboard .myGeneScore{
  color: #a3d1e9;
}

#dashboard .teamGeneScore{
  color: #c3b331;
}

#dashboard img.uk{
  display: block;
  float:left;
}

#dashboard ul.people{
  height: 100%;
  float: left;
}

#dashboard nav.profile{
  position: absolute;
  right: 010em;
}


#dashboard nav.profile ul li{
  margin: 20px 0px 40px 0px;
}

#dashboard ul.people li{
  margin: 20px 0px 20px 0px;
  color: #333333;
}

#dashboard .login {
  float: left;
  width: 28%;
}

#dashboard .login ul li{
  float: left;
  font-size: 1em;

}

#dashboard .login ul li a{
  font-size: 1em;
  width: 80%;
  -webkit-border-radius:  0.5em;
  -moz-border-radius:  0.5em;
  border-radius:  0.5em;
  background-color: #AAAAFF;
  padding: 1em;
  margin: 1em;

}

#dashboard .youtube{
  width: 70%;
  float: left;
}











